<?xml version="1.0" encoding="utf-8"?>
<config>
	<field name="asset_id" type="hidden" filter="unset" />
	<fieldset name="settings"
		label="COM_JOOMLAQUIZ_SETTINGS_GLOBAL"
		>
		
		<field name="wysiwyg_options" type="radio"	default="1"
			class="btn-group"
			label="COM_JOOMLAQUIZ_SETTINGS_WYSIWYG_OPTIONS" 
			description="COM_JOOMLAQUIZ_SETTINGS_WYSIWYG_OPTIONS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="jq_show_dev_info" type="radio"	default="0"	
			class="btn-group"
			label="COM_JOOMLAQUIZ_SETTINGS_SHOW_DEV_INFO" 
			description="COM_JOOMLAQUIZ_SETTINGS_SHOW_DEV_INFO_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field 
			name="db_fix" 
			type="radio" 
			default="0"	
			class="btn-group"
			label="Show DB fix button" 
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field 
			name="lttrack" 
			type="integer" 
			default="15" 
			label="COM_JOOMLAQUIZ_REALTIME_TRACK_INT" 
			description="" 
			first="5" 
			last="75" 
			step="10" 
		/>

		<field 
			name="lttrack_up" 
			type="integer" 
			label="COM_JOOMLAQUIZ_REALTIME_TRACK_UP" 
			description="" 
			first="1" 
			last="10" 
			step="1" 
		/>
		
		<field 
			name="download_certificate" 
			type="radio"	
			default="0"	
			class="btn-group"
			label="Download certificate" 
			description="Auto download certificate as attachment if 'yes', open certificate as image if 'no'">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<!-- Customizations settings -->
		<!--<field name="restrict_on_passed" type="hidden"	default="0"
			class="btn-group"
			label="Restrict when passed(customization)" 
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="hide_boilerplates"
			type="hidden"
			default="0"
			class="btn-group"
			label="Hide boilerplates"
			description="Hide boilerplates in reports">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>-->

		<field
				name="margin_top"
				type="text"
				label="COM_JOOMLAQUIZ_CONFIG_MARGIN_TOP"
				description=""
				default="0"
				filter="integer"
				size="10" />

		<field name="is_set_default"
			   type="radio"
			   class="btn-group"
			   label="COM_JOOMLAQUIZ_SET_DEFAULT"
			   labelclass="control-label"
			   default="0">
			<option value="0">COM_JOOMLAQUIZ_NO</option>
			<option value="1">COM_JOOMLAQUIZ_YES</option>
		</field>

		<field name="lp_content_catid"
			   type="sql"
			   query="(SELECT 'Select category' as text, '' as value FROM #__users) UNION (SELECT c.title AS text, c.id AS value FROM #__categories AS c WHERE extension = 'com_content' ORDER BY c.title)"
			   multiple="single"
			   key_field="value"
			   value_field="text"
			   class="inputbox"
			   labelclass="control-label"
			   label="COM_JOOMLAQUIZ_CONTENT_CATEGORY"
			   required="false" />

		<field name="include_articles_from_subcats"
			   type="radio"
			   class="btn-group"
			   label="COM_JOOMLAQUIZ_INCLUDE_ARTICLES_FROM_SUBCATS"
			   description=""
			   labelclass="control-label"
			   default="0">
			<option value="0">COM_JOOMLAQUIZ_NO</option>
			<option value="1">COM_JOOMLAQUIZ_YES</option>
		</field>

	</fieldset>
		
	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
	>
		<field name="rules" type="rules"
			component="com_joomlaquiz"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
</config>